@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white-color:rgb(255, 255, 255);
  --body-color:rgb(242, 241, 241);
  --search-color: rgb(233, 233, 233);
  --dark-color: rgba(61, 57, 49);
 --black-color : rgb(29, 37, 33);
  --orange-color: rgba(202, 98, 23, 0.77);
}

body{
  background-color: var(--body-color);
  font-family: "roboto";
  color: black;
}
main{
  transition: background-color 0.5s, color 0.5s;
}
.dark-mode {
	background-color: black;
  color: #ffffff;
} 
.dark-mode h1{
  color: var(--body-color);
}
.container{
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
  padding-top: 20px;
}









